<!-- Navigation Bar-->
<%- include ('partials/_navigation.ejs') %>  

  <!-- Page Header -->
  <%- include ('partials/_header.ejs') %>  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            <% posts.forEach(element => { %>
              <div class="post-preview">
                <a href="post.html">
                  <h2 class="post-title">
                    <%= element.title %> 
                  </h2>
                </a>
                <label for=""> <%= element.detail %></label>
                <p class="post-meta">Writed by
                  <a href="#">Nuhgnc</a>
                  on <%= element.dateCreated %> </p>
              </div>
              <hr>
            <% }) %>
    
       
        <br>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include ('partials/_footer.ejs') %>  

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>