<%- include('partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <form method="POST" action="/posts/<%= post._id %>?_method=PUT" class="tm-contact-form" enctype="application/x-www-form-urlencoded">
              
              <input type="text" name="title" id="title" value="<%= post.title %>">
           
            
            <div class="form-group">
            <textarea name="detail" id="detail"  class="subheading"><%= post.detail %></textarea>
            </div>
              <button type="submit"
                      class="btn btn-primary p-2 mb-4 tm-btn-animate tm-btn-download tm-icon-download "
                    >
                      <span>Update Details</span>
                    </button>
           </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
        </div>
             <div class="text-center">
                  
                  </div>
                  <div class="text-center">
                    <a  href="/posts/<%= post._id %>?_method=DELETE"
                      class="btn btn-danger p-2 tm-btn-animate tm-btn-download tm-icon-download" onclick="return confirm('ARE YOU SURE?')"
                    >
                      <span>Delete Post</span>
                    </a>
                  </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer') -%>



</body>

</html>